.attribution {
  margin-top: 50px;
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

body {
  background-image: url(images/bg-pattern-bottom-desktop.svg);
  background-position: center;
  font-family: 'Spartan', sans-serif;
  font-size: 15px;
}

header {
  display: flex;
  height: 50vh;
  align-items: center;
  justify-content: space-evenly;
}

.header_container {
  width: 30%;
  margin-top: 30px;
}

.heading {
  color: hsl(300, 43%, 22%);
  font-size: 40px;
}
.text {
  color: hsl(303, 10%, 53%);
  line-height: 1.5;
}

.review_container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 5px 30px 5px 20px;
  margin-bottom: 10px;
  width: 100%;
  background-color: hsl(300, 24%, 96%);
  border-radius: 5px;
}

.review_container:nth-child(2) {
  margin-left: 30px;
}
.review_container:nth-child(3) {
  margin-left: 70px;
}

.review_position {
  margin-top: 60px;
}

.review {
  margin-left: 50px;
  font-weight: 700;
  color: hsl(300, 43%, 22%);
}
.star {
  margin-right: 5px;
}
.image {
  width: 15%;
  border-radius: 50%;
  margin-right: 25px;
  margin-bottom: 20px;
}
.testimonial_container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 20px;
}
.testimonial {
  background-color: hsl(300, 43%, 22%);
  width: 25%;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2em;
}
.testimonial:nth-child(2) {
  margin-top: 40px;
}
.testimonial.testimonial:nth-child(3) {
  margin-top: 70px;
}
.user {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  line-height: 0.3;
}
.name {
  color: white;
  font-weight: 700;
}
.verified {
  font-weight: 700;
  color: hsl(333, 80%, 67%);
}
.testimonial_text {
  font-weight: 400;
  color: white;
}

@media (max-width: 769px) {
  .heading {
    font-size: 28px;
  }
  .testimonial_container {
    margin-left: 15px;
  }
  .testimonial {
    margin-right: 10px;
  }
}

@media (max-width: 426px) {
  body {
    background-image: url('./images/bg-pattern-top-mobile.svg');
    background-position: center;
  }
  header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 90vh;
  }
  .review_position {
    display: flex;
    flex-direction: column;
  }
  .review_container:nth-child(2) {
    margin-left: 0;
  }
  .review_container:nth-child(3) {
    margin-left: 0;
  }
  .header_container {
    width: 100%;
  }
  .heading {
    font-size: 24px;
  }
  .text {
    font-size: 20px;
  }
  .testimonial_container {
    display: flex;
    flex-direction: column;
  }
  .testimonial {
    width: 90%;
    margin-left: 45px;
  }
}
